# Local Terraform files
terraform/.terraform/               # Ignore all files in the .terraform directory
terraform/.terraform/*
# General sensitive files
*.tfvars                    # Ignore variable definition files that might contain sensitive data
*.code-workspace
.env

.DS_Store